recetas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo"  type="xs:string"/>
        <xs:element name="estudio" type="xs:string"/>
        <xs:element name="genero"  type="xs:string"/>
        <xs:element name="pegi"    type="xs:integer"/>
        <xs:element name="arte"    type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>